:root 
{
    --Softred: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);

    --Darkbrown: hsl(25, 47%, 15%);
    --Mediumbrown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Verypaleorange: hsl(33, 100%, 98%);
}
html {
    font-size: 18px;
}

body 
{
    margin: 0;
    font-family: "DM Sans", sans-serif;
    background-color: var(--Cream);
    padding: 3.66em 4.5%;
}

* {
    box-sizing: border-box;
}

*:first-child {
    margin-top: 0;
}

*:last-child {
    margin-bottom: 0;
}


.card_header {
    background-color: var(--Softred);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Verypaleorange);
    padding: 1.66em 8%;
    margin-bottom: 1em;;
}

.card_balance_label {
    margin-bottom: 0.3em;
}

.card_balance_val {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.4rem;
}


.card_main {
    background-color: var(--Verypaleorange);
    padding: 1.66em 8%;
}
.card_title {
    font-size: 1.4rem;
}

.card_chart {
    display: flex;
    gap: .5em;
    align-items: end;
    border-bottom: 1px solid hsl(28, 10%, 90%);
    padding-bottom: 1em;
    justify-content: center;
}

.card_bar {
    width: 11.3%;
    text-align: center;
    max-width: 54px;
    position: relative;
}
.card_bar_val 
{
    background-color: var(--Darkbrown);
    color: var(--Verypaleorange);
    padding: .2em;
    border-radius: 4px;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0%;
    transition: all 300ms;
}

.card_bar:hover .card_bar_val {
    opacity: 100%;
}
.card_bar_inner {
    width: 100%;
    height: 20px;
    background-color: var(--Softred);
    transition: all 300ms;
}

.card_bar:hover .card_bar_inner {
    filter: brightness(120%);
}

.card_bar_inner.highest {
    background-color: var(--Cyan);
}


.card_bar_txt {
    font-size: .7rem;
    color: var(--Mediumbrown);
}

.card_footer {
    display: flex;
    align-items: center;
    padding-top: 1em;
    font-size: .9rem;
    justify-content: space-between;
}

.card_total_label {
    color: var(--Mediumbrown);
    margin-bottom: 0;
}

.card_total_val 
{
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.card_change {
    text-align: right;
}
.card_change_val{
    margin-bottom: 0;
    font-weight: bold;
}

.card_change_from {
    margin-top: 0;
    color: var(--Mediumbrown);
}


@media (min-width: 786px)
{
    .card_footer {
        font-size: 1rem;
    }


    .card_total_val {
        font-size: 2.5rem;
    }
}